@model IEnumerable<OdeToFood.Models.Restaurant>
@{
    ViewBag.Title = "Home Page";
}
<h2>@OdeToFood.Views.Home.HomeResources.Greeting</h2>

@{
    var amount = 10.0m;
    var then = new DateTime(2002, 7, 9);    
}

<div>
    @amount.ToString("c")
</div>
<div>
    @then.ToShortDateString()
</div>



 @using (Html.BeginForm("Index", "Home", FormMethod.Get)) {
    <input name="q" type="text" />
    <input type="submit" value="Search" />
 }



 <table>
     <thead>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
    </thead>
    <tbody id="searchResults">
        @Html.Partial("_RestaurantSearchResults", Model)
    </tbody>
</table>




















@*<form method="get" action="@Url.Action("JsonSearch", "Home")" id="searchForm">
    <input type="text" name="q" data-autocomplete="@Url.Action("QuickSearch", "Home")" /> 
    <input type="submit" value="Search" />
</form>
*@
@*<table>
     <thead>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
    </thead>
    <tbody id="searchResults">
    
    </tbody>
</table>

<script id="searchTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td>
            ${Name}
        </td>
        <td>
            ${City}, ${Country}            
        </td>
    </tr>
</script>*@

<div id="progress">
    <img src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="loader" />
</div>
